<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../public/css/index.css">
  <title>to learn how to use express</title>
</head>
<body>
  {{{body}}}
</body>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../public/js/register.js">  
</script>
</html>