<div class="register_container">
  <div class="main-nav-c clearfix">
    <img src="../public/image/icon_15.png" alt="">
    <a href="/">首页</a>
    <span>></span>
    <a href="/register">注册</a>
  </div>
  <div class="register-form-c">
      <div class="register-form">
        <div class="label k-item">
          <div class="lbl-prop">手机号码:</div>
          <input class="k-input txt-re-phone" type="text" maxlength="15">
          <div class="form-error require-phone-number">
            <img src="../public/image/err_icon.png" alt="">
            <div class="error-text">请输入手机号码</div>
          </div>
          <div class="form-error error-phone-number">
              <img src="../public/image/err_icon.png" alt="">
              <div class="error-text">请输入正确的手机号</div>
          </div>
        </div>
        <div class="label k-item">
          <div class="lbl-prop">密码:</div>
          <input class="k-input txt-re-password" type="password" maxlength="50">
          <div class="form-error require-password">
            <img src="../public/image/err_icon.png" alt="">
            <div class="error-text">请输入密码</div>
          </div>
          <div class="form-error error-password">
              <img src="../public/image/err_icon.png" alt="">
              <div class="error-text">6~20个字符，区分大小写</div>
          </div>
        </div>
        <div class="label k-item">
          <div class="lbl-prop">确认密码:</div>
          <input class="k-input txt-re-password2" type="password" maxlength="50">
          <div class="form-error require-re-password">
            <img src="../public/image/err_icon.png" alt="">
            <div class="error-text">请输入密码</div>
          </div>
          <div class="form-error error-re-password">
              <img src="../public/image/err_icon.png" alt="">
              <div class="error-text">两次密码输入不一致</div>
          </div>
        </div>
        <div class="k-item">
          <div class="k-button btn-register">立即注册</div>
        </div>
      </div>  
  </div>
</di>